@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    @apply text-gray-500
}

::-webkit-scrollbar {
    display: none;
}

.types{
    height: 100%;
    animation: up .5s ease-in-out forwards;
    width: 100%;
    scroll-behavior: smooth;
}

@keyframes up {
    0%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.container{
margin-top: 10;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  